body {
    font-family:'Roboto', sans-serif;
    color: #000;
}

nav {
    width: 100%;
    height: 30%;
    background: #000
}

nav > ul {
    display: none;
}

label {
    font-size: 40px;
    color: #FFF;
    cursor: pointer;
}

.emblem {
    width: 30px;
    height: 100%;
    left: 35%;
    position: relative;
}

figure {
    display: flex;
    flex-flow: column;
    margin: auto;
}

figure > img {
    max-height: 300px;
}

figcaption {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 10px;
    box-shadow: 12px 12px 12px 11px rgba(255, 255, 255);
}

div.cover > h2 {
    font-size: 1em;
    text-align: center;
    color: #FFF;
    background-color: #000;
    font-weight: bold;
    letter-spacing: 10px;
    padding: 15px;
}

div.cover > p {
    font-size: .9em;
    color: #FFF;
    background-color: #000;
    text-align: center;
    padding: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

footer > ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    row-gap: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 70%;
    margin: auto;
    padding: 25px;
}

footer > ul > li > a {
    text-decoration: none;
    color: black;
}

.icons {
    margin: 25px;
}

.icons > a {
    text-decoration: none;
    margin-left: 25px;
}

.icons > a > img{
    width: 10%;
    height: 10%;
}