article {
    background-color: #EFF1F7;
    height: 75%;
}

div.cover:nth-child(1) {
    background-color: #000000;
}

div.cover {
    width: 100%;
    height: 30rem;
}

h1 {
    display: none;
}

div.cover > h2 {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 100px;
}

#rule-two-title {
    color: #000;
}

div.border {
    width: 30%;
    margin: 20px auto;
    border-bottom: 3px solid white;
}

#rule-two-border {
    width: 30%;
    margin: 20px auto;
    border-bottom: 3px solid black;
}

div.cover > p {
    font-size: 12px;
    text-align: center;
    padding: 15px;
    letter-spacing: 2px;
}

p.paragraph-important {
    font-weight: 600;
}

div.cover:first-child > p {
    color: #FFF;
}

.models-rr {
    width: 100%;
    object-fit: cover;
}

@media (min-width:801px) {
    div.cover > h2 {
        font-size: 40px;
    }

    div.border, #rule-two-border {
        width: 40%;
    }

    div.cover > p {
        font-size: 25px;
    }
}


@media (min-width:1025px) { 
    div.cover > h2 {
        font-size: 50px;
    }

    div.border, #rule-two-border {
        width: 10%;
    }

    div.cover > p {
        font-size: 25px;
    }
}